/*
 *  # footer
 *      ## footer main
 *      ## footer bottom
 *      ## go to top
 */

/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */
footer {
  padding: 9rem 0 6rem;
  font-family: "montserrat-light", sans-serif;
  font-size: 15px;
  line-height: 2;
  text-align: center;
  color: $color-dark-l;
}

footer h4 {
  color: $color-light-l;
  font-size: 1.6rem;
  line-height: 1.313;
  margin-top: 0;
  margin-bottom: 3.6rem;
}

footer a {
  color: $color-light-l;
}

footer a:hover,
footer a:focus,
footer a:active {
  color: $color-primary;
}

footer .row {
  max-width: 980px;
}

/* --------------------------------------------------------------- 
 * ## footer main
 * --------------------------------------------------------------- */
.footer-main {
  text-align: left;
}

.footer-main .left {
  padding-right: 40px;
}

.footer-main .right {
  padding-left: 40px;
}

.footer-logo {
  display: block;
  margin: 0 0 3.6rem 0;
  padding: 0;
  outline: 0;
  border: none;
  width: 100px;
  height: 50px;
  background: url("../images/logo.png") no-repeat center;
  background-size: 100px 50px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-subscribe .subscribe-form {
  margin: 0;
  padding: 0;
  position: relative;
}

.footer-subscribe #mc-form {
  width: 100%;
}

.footer-subscribe #mc-form input[type="email"] {
  width: 100%;
  height: 5.4rem;
  padding: 1.2rem 160px 1.2rem 60px;
  background: url(../images/email-icon.png) 20px center no-repeat,
    rgba(0, 0, 0, 0.1);
  background-size: 24px 16px, auto;
  border: none;
  margin-bottom: 1.8rem;
  color: rgba(255, 255, 255, 0.5);
}

.footer-subscribe #mc-form input[type="email"]:focus {
  color: $color-light-l;
}

.footer-subscribe #mc-form input[type="email"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.footer-subscribe #mc-form input[type="email"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
  /* Firefox 18- */
}

.footer-subscribe #mc-form input[type="email"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
  /* Firefox 19+ */
}

.footer-subscribe #mc-form input[type="email"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.footer-subscribe #mc-form input[type="email"].placeholder {
  color: rgba(255, 255, 255, 0.2) !important;
}

.footer-subscribe #mc-form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  color: $color-light-l;
  background: $color-primary;
  border-color: $color-primary;
  padding: 0 20px;
}

.footer-subscribe #mc-form label {
  color: $color-light-l;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.3rem;
  padding: 0 2rem;
}

.footer-subscribe #mc-form label i {
  padding-right: 6px;
}

/* ---------------------------------------------------------------
 * ## footer bottom
 * --------------------------------------------------------------- */
.footer-bottom {
  margin-top: 5.4rem;
  text-align: center;
  font-size: 14px;
}

.footer-bottom .copyright span {
  display: inline-block;
}

.footer-bottom .copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.05);
}

.footer-bottom .copyright span:last-child::after {
  display: none;
}

/* ------------------------------------------------------------------- 
 * ## go to top
 * ------------------------------------------------------------------- */
.go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 600;
  display: none;
}

.go-top a,
.go-top a:visited {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background: black;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-top a i,
.go-top a:visited i {
  font-size: 18px;
  line-height: inherit;
}

.go-top a:hover,
.go-top a:focus {
  color: $color-light-l;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * footer
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  .footer-main .left {
    padding-right: 20px;
  }
  .footer-main .right {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 800px) {
  footer .row {
    max-width: 600px;
  }
  .footer-main .left {
    padding-right: 15px;
    margin-bottom: 4.2rem;
  }
  .footer-main .right {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .footer-main .left {
    padding-right: 10px;
  }
  .footer-main .right {
    padding-left: 10px;
  }
  .footer-logo {
    margin: -0.6rem auto 3.6rem;
  }
  .footer-bottom {
    padding-bottom: 0.6rem;
  }
  .footer-bottom .copyright span {
    display: block;
  }
  .footer-bottom .copyright span::after {
    display: none;
  }
  .go-top {
    right: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  .footer-subscribe #mc-form input[type="email"] {
    padding: 1.2rem 20px 1.2rem;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .footer-subscribe #mc-form input[type="submit"] {
    position: static;
    width: 100%;
    margin-bottom: 1.8rem;
  }
  .footer-subscribe #mc-form label {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .footer-main .left {
    padding-right: 0;
  }
  .footer-main .right {
    padding-left: 0;
  }
}
