/* ===================================================================
 * # services
 *
 * ------------------------------------------------------------------- */
 .s-services {
    padding-top: 16.2rem;
    padding-bottom: 13.2rem;
    background-color: #FFFFFF;
    color: $color-dark-l;
    position: relative;
}


/* ------------------------------------------------------------------- 
 * ## services list
 * ------------------------------------------------------------------- */
.services-list {
    margin-top: 6rem;
}

.services-list .service-item {
    margin-bottom: .9rem;
}

.services-list .service-item h3 {
    margin-top: 0;
}

.services-list .service-item:nth-child(2n+1) {
    padding-right: 50px;
}

.services-list .service-item:nth-child(2n+2) {
    padding-left: 50px;
}

.services-list .service-text {
    margin-left: 7.8rem;
}

.services-list .service-icon {
    float: left;
    color: $color-primary;
    font-size: 4.8rem;
    margin-top: -.6rem;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * services
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .services-list {
        max-width: 1000px;
    }
    .services-list .service-item:nth-child(2n+1) {
        padding-right: 30px;
    }
    .services-list .service-item:nth-child(2n+2) {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .services-list h3 {
        font-size: 2.5rem;
    }
    .services-list .service-item:nth-child(2n+1) {
        padding-right: 20px;
    }
    .services-list .service-item:nth-child(2n+2) {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .services-list {
        margin-top: 4.2rem;
        max-width: 500px;
        text-align: center;
    }
    .services-list .service-item:nth-child(n) {
        padding-right: 15px;
        padding-left: 15px;
    }
    .services-list h3 {
        font-size: 3rem;
    }
    .services-list .service-text {
        margin-left: 0;
    }
    .services-list .service-icon {
        font-size: 4.5rem;
        float: none;
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .s-services {
        padding-top: 12rem;
    }
    .services-list .service-item:nth-child(n) {
        padding-right: 10px;
        padding-left: 10px;
    }
    .services-list h3 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .services-list .service-item:nth-child(n) {
        padding-right: 0;
        padding-left: 0;
    }
    .services-list h3 {
        font-size: 2.5rem;
    }
}