<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <title>{{ title }}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
  </head>
  <body>
    <header>
      <!-- <div class="w-100 text-center bg-light logo">
        <img src="assets/img/logo.jpg" class="" alt="" />
      </div> -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a href="index.html" class="navbar-brand">
          <img
            src="assets/img/logo.jpg"
            width="30"
            height="30"
            class="align-top header_img_sm"
            alt=""
          />
          Text
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li>
              <a
                href="#nav_dropdown"
                class="dropdown-toggle nav-link"
                id=""
                data-toggle="collapse"
                aria-controls="nav_dropdown"
                aria-expanded="false"
                >Item</a
              >
              <ul class="collapse dropdown_list" id="nav_dropdown">
                <li><a href="#" class="nav-link">Item</a></li>
                <li><a href="#" class="nav-link">Item</a></li>
                <li><a href="#" class="nav-link">Item</a></li>
                <li><a href="#" class="nav-link">Item</a></li>
                <li><a href="#" class="nav-link">Item</a></li>
                <li><a href="#" class="nav-link">Item</a></li>
              </ul>
            </li>
            <li><a href="#" class="nav-link active">Item</a></li>
            <li><a href="#" class="nav-link">Item</a></li>
            <li><a href="#" class="nav-link">Item</a></li>
          </ul>
        </div>
      </nav>
    </header>
    {{ content | safe}}
    <!-- Bootstrap JS CDN-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <!-- Font CDN -->
    <!-- JS not Supported! -->
    <noscript>Your browser does not support JavaScript!</noscript>
  </body>
</html>
