/* ===================================================================
 * # buttons
 *
 * ------------------------------------------------------------------- */
 .btn,
 button,
 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
     display: inline-block;
     font-family: "montserrat-medium", sans-serif;
     font-size: 1.2rem;
     text-transform: uppercase;
     letter-spacing: .3rem;
     height: 5.4rem;
     line-height: calc(5.4rem - .4rem);
     padding: 0 3rem;
     margin: 0 .3rem 1.2rem 0;
     color: #000000;
     text-decoration: none;
     text-align: center;
     white-space: nowrap;
     cursor: pointer;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: $color-light-d;
     border: .2rem solid $color-light-d;
 }
 
 .btn:hover,
 button:hover,
 input[type="submit"]:hover,
 input[type="reset"]:hover,
 input[type="button"]:hover,
 .btn:focus,
 button:focus,
 input[type="submit"]:focus,
 input[type="reset"]:focus,
 input[type="button"]:focus {
     background-color: $color-dark-l;
     border-color: $color-dark-l;
     color: #000000;
     outline: 0;
 }
 
 
 /* button primary
  * ------------------------------------------------- */
 
 .btn.btn--primary,
 button.btn--primary,
 input[type="submit"].btn--primary,
 input[type="reset"].btn--primary,
 input[type="button"].btn--primary {
     background: $color-primary;
     border-color: $color-primary;
     color: $color-light-l;
 }
 
 .btn.btn--primary:hover,
 button.btn--primary:hover,
 input[type="submit"].btn--primary:hover,
 input[type="reset"].btn--primary:hover,
 input[type="button"].btn--primary:hover,
 .btn.btn--primary:focus,
 button.btn--primary:focus,
 input[type="submit"].btn--primary:focus,
 input[type="reset"].btn--primary:focus,
 input[type="button"].btn--primary:focus {
     background: $color-primary-l;
     border-color: $color-primary-l;
 }
 
 
 /* button modifiers
  * ------------------------------------------------- */
 
 .btn.full-width, button.full-width {
     width: 100%;
     margin-right: 0;
 }
 
 .btn--medium, button.btn--medium {
     height: 5.7rem !important;
     line-height: calc(5.7rem - .4rem) !important;
 }
 
 .btn--large, button.btn--large {
     height: 6rem !important;
     line-height: calc(6rem - .4rem) !important;
 }
 
 .btn--stroke, button.btn--stroke {
     background: transparent !important;
     border: 0.2rem solid $color-primary;
     color: $color-primary;
 }
 
 .btn--stroke:hover, button.btn--stroke:hover {
     border: 0.2rem solid #000000;
     color: #000000;
 }
 
 .btn--pill, button.btn--pill {
     padding-left: 3rem !important;
     padding-right: 3rem !important;
     border-radius: 1000px !important;
 }
 
 button::-moz-focus-inner, input::-moz-focus-inner {
     border: 0;
     padding: 0;
 }