/*  TODO ***
 *  # additional components
 *      ## alert box
 *      ## additional typo styles
 *      ## skillbars 
 *  # reusable and common theme styles
 *      ## display headings
 *      ## section header
 *      ## slick slider
 */

 /* =================================================================== 
 * # additional components
 *
 * ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- 
 * ## alert box
 * ------------------------------------------------------------------- */
.alert-box {
    padding: 2.1rem 4rem 2.1rem 3rem;
    position: relative;
    margin-bottom: 3rem;
    border-radius: 3px;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
}

.alert-box__close {
    position: absolute;
    right: 1.8rem;
    top: 1.8rem;
    cursor: pointer;
}

.alert-box__close.fa {
    font-size: 12px;
}

.alert-box--error {
    background-color: #ffd1d2;
    color: #e65153;
}

.alert-box--success {
    background-color: #c8e675;
    color: #758c36;
}

.alert-box--info {
    background-color: #d7ecfb;
    color: #4a95cc;
}

.alert-box--notice {
    background-color: #fff099;
    color: #bba31b;
}


/* ------------------------------------------------------------------- 
 * ## additional typo styles 
 * ------------------------------------------------------------------- */


/* drop cap 
 * ----------------------------------------------- */
.drop-cap:first-letter {
    float: left;
    margin: 0;
    padding: 1.5rem .6rem 0 0;
    font-size: 8.4rem;
    font-family: "montserrat-regular", sans-serif;
    font-weight: bold;
    line-height: 6rem;
    text-indent: 0;
    background: transparent;
    color: #000000;
}


/* line definition style 
 * ----------------------------------------------- */
.lining dt, .lining dd {
    display: inline;
    margin: 0;
}

.lining dt + dt:before, .lining dd + dt:before {
    content: "\A";
    white-space: pre;
}

.lining dd + dd:before {
    content: ", ";
}

.lining dd + dd:before {
    content: ", ";
}

.lining dd:before {
    content: ": ";
    margin-left: -0.2em;
}


/* dictionary definition style 
 * ----------------------------------------------- */
.dictionary-style dt {
    display: inline;
    counter-reset: definitions;
}

.dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2em;
}

.dictionary-style dd {
    display: block;
    counter-increment: definitions;
}

.dictionary-style dd:before {
    content: counter(definitions, decimal) ". ";
}


/** 
 * Pull Quotes
 * -----------
 * markup:
 *
 * <aside class="pull-quote">
 *		<blockquote>
 *			<p></p>
 *		</blockquote>
 *	</aside>
 *
 * --------------------------------------------------------------------- */

.pull-quote {
    position: relative;
    padding: 2.1rem 3rem 2.1rem 0px;
}

.pull-quote:before, .pull-quote:after {
    height: 1em;
    position: absolute;
    font-size: 10rem;
    font-family: Arial, Sans-Serif;
    color: rgba(0, 0, 0, 0.25);
}

.pull-quote:before {
    content: "\201C";
    top: -3.6rem;
    left: 0;
}

.pull-quote:after {
    content: '\201D';
    bottom: 3.6rem;
    right: 0;
}

.pull-quote blockquote {
    margin: 0;
}

.pull-quote blockquote:before {
    content: none;
}


/** 
 * Stats Tab
 * ---------
 * markup:
 *
 * <ul class="stats-tabs">
 *		<li><a href="#">[value]<em>[name]</em></a></li>
 *	</ul>
 *
 * Extend this object into your markup.
 *
 * --------------------------------------------------------------------- */

.stats-tabs {
    padding: 0;
    margin: 3rem 0;
}

.stats-tabs li {
    display: inline-block;
    margin: 0 1.5rem 3rem 0;
    padding: 0 1.5rem 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.stats-tabs li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.stats-tabs li a {
    display: inline-block;
    font-size: 2.5rem;
    font-family: "montserrat-regular", sans-serif;
    font-weight: bold;
    border: none;
    color: #000000;
}

.stats-tabs li a:hover {
    color: $color-primary;
}

.stats-tabs li a em {
    display: block;
    margin: .6rem 0 0 0;
    font-size: 1.4rem;
    font-family: "montserrat-regular", sans-serif;
    color: $color-dark-l;
}


/* ------------------------------------------------------------------- 
 * ## skillbars 
 * ------------------------------------------------------------------- */
.skill-bars {
    list-style: none;
    margin: 6rem 0 3rem;
    
    li {
        height: .6rem;
        background: #c9c9c9;
        width: 100%;
        margin-bottom: 6.9rem;
        padding: 0;
        position: relative;
    }
    
    li strong {
        position: absolute;
        left: 0;
        top: -3rem;
        font-family: "montserrat-bold", sans-serif;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    
    li .progress {
        background: #000000;
        position: relative;
        height: 100%;
    }
    
    li .progress span {
        position: absolute;
        right: 0;
        top: -3.6rem;
        display: block;
        font-family: "montserrat-regular", sans-serif;
        color: #FFFFFF;
        font-size: 1.1rem;
        line-height: 1;
        background: #000000;
        padding: .6rem .6rem;
        border-radius: 3px;
    }
    
    li .progress span::after {
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -5px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid #000000;
        content: "";
    }
    
    li .percent5  { width: 5%; }
    li .percent10 { width: 10%; }
    li .percent15 { width: 15%; }
    li .percent20 { width: 20%; }
    li .percent25 { width: 25%; }
    li .percent30 { width: 30%; }
    li .percent35 { width: 35%; }
    li .percent40 { width: 40%; }
    li .percent45 { width: 45%; }
    li .percent50 { width: 50%; }
    li .percent55 { width: 55%; }
    li .percent60 { width: 60%; }
    li .percent65 { width: 65%; }
    li .percent70 { width: 70%; }
    li .percent75 { width: 75%; }
    li .percent80 { width: 80%; }
    li .percent85 { width: 85%; }
    li .percent90 { width: 90%; }
    li .percent95 { width: 95%; }
    li .percent100 { width: 100%; }
}



/* ===================================================================
 * # reusable and common theme styles
 *
 * ------------------------------------------------------------------- */
.wide {
    max-width: 1400px;
}

.narrow {
    max-width: 800px;
}


/* ------------------------------------------------------------------- 
 * ## display headings
 * ------------------------------------------------------------------- */
.display-1 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 7.8rem;
    line-height: 1.25;
    color: #000000;
    margin-top: 0;
}

.display-1--light {
    color: #FFFFFF;
}

.display-2 {
    font-family: "montserrat-medium", sans-serif;
    font-size: 5.2rem;
    line-height: 1.255;
    color: #000000;
    margin-top: 0;
}

.display-2--light {
    color: #FFFFFF;
}

.subhead + .display-2 {
    margin-top: .6rem;
}

.subhead {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.7rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: $color-primary;
    margin-top: 0;
    margin-bottom: 0;
}

.subhead--dark {
    color: #000000;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * display headings
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .display-1 {
        font-size: 7.2rem;
    }
    .display-2 {
        font-size: 4.4rem;
    }
}

@media only screen and (max-width: 800px) {
    .display-1 {
        font-size: 6.5rem;
    }
    .display-2 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    .display-1 {
        font-size: 5rem;
    }
    .display-2 {
        font-size: 3.3rem;
    }
    .subhead {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .display-1 {
        font-size: 4.2rem;
    }
    .display-2 {
        font-size: 3rem;
    }
}


/* ------------------------------------------------------------------- 
 * ## section header
 * ------------------------------------------------------------------- */
.section-header {
    text-align: center;
    position: relative;
    margin-bottom: 3.6rem;
    max-width: 960px;
}

.section-header.has-bottom-sep {
    padding-bottom: 2.1rem;
    position: relative;
}

.section-header.has-bottom-sep::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-header.has-bottom-sep.light-sep::before {
    background-color: rgba(255, 255, 255, 0.05);
}


/* ------------------------------------------------------------------- 
 * responsive:
 * section-header
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    .section-header {
        max-width: 800px;
    }
}

@media only screen and (max-width: 900px) {
    .section-header {
        max-width: 700px;
    }
}

@media only screen and (max-width: 800px) {
    .s-clients {
        padding-bottom: 17.4rem;
    }
    .section-header.has-bottom-sep::before {
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .section-header.has-bottom-sep {
        padding-bottom: 0;
    }
    .section-header.has-bottom-sep::before {
        width: 250px;
    }
}


/* ------------------------------------------------------------------- 
 * ## slick slider 
 * ------------------------------------------------------------------- */
.slick-slider {

    .slick-slide {
        outline: none;
    }
    
    .slick-dots {
        display: block;
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 3rem 0 0 0;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        
        li {
            display: inline-block;
            width: 27px;
            height: 27px;
            margin: 0;
            padding: 9px;
            cursor: pointer;
        }
        
        li button {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #959595;
            border: none;
            line-height: 10px;
            padding: 0;
            margin: 0;
            cursor: pointer;
            font: 0/0 a;
            text-shadow: none;
            color: transparent;
        }
        
        li button:hover,
        li button:focus {
            outline: none;
        }
        
        li.slick-active button,
        li:hover button {
            background: $color-primary;
        }
    }
}